body, html{
    font-family: helvetica;
    color: white;
    height: 100%;
    background-color: #000000;
}
.navbar {
    background-color: black;
    min-height: 15%;
}

.avatar{
    vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-link{
    color: white !important;
}

.nav-item .active{
    background-color: rgba(105, 186, 39, 1);
    border-radius: 5px;
}

.nav-link:hover{
    font-weight: bold;
    color: white;
}

.cust-hover:hover{
    font-weight: normal;
    text-decoration: underline;
}

.jumbotron {
    padding: 2rem 1rem;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 85%;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.tittle-box{
    background-color: #171717;
    padding: 70px;
    position: absolute;
    margin: 0;
    top: 85%;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

.card-img{
    align-items: center;
}

.carousel-item .img-fluid{
    max-width: 70%;
}

#about,#news,#content{
    background-color: #000000;
}

.menu-area{
    position: static;
}

.mega-area{
    background-color: #171717;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    border: 0;
    margin-top: 10px!important;
    border-radius: 0;
    padding: 15px;
}

.mega-area a{
    text-decoration: none;

}

.mega-area a:hover{
    text-decoration: underline;
}

#tab-category1:focus,#tab-category2:focus,#tab-category3:focus{
    box-shadow: none;
}

#tab-category1:hover,#tab-category2:hover,#tab-category3:hover{
    text-decoration: underline;
}

#content a,#news a{
    text-decoration: none;
}

#content a:hover,#news a:hover{
    text-decoration: underline;
}


.text-success{
    color: rgba(105, 186, 39, 1) !important;
}

.bg-success {
    background-color: rgba(105, 186, 39, 1) !important;
}

.dropdown-menu .dropdown-item-custom{
    color: #6c757d;
}

.dropdown-item-custom{
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-custom:hover{
    background-color: #333333;
    color: white;
    border-left: 1px solid white;
}