body, html{
    font-family: helvetica;
    color: white;
    height: 100%;
    background-color: #000000;
    width: 99,2%;
}
.navbar {
    background-color: #171717;
    min-height: 15%;
}
footer {
    background-color: #171717;
    min-height: 15%;
}

footer a{
    text-decoration: none;
}

footer .img-thumbnail{
    border: none;
    padding: 0%;
}

.avatar{
    vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-link{
    color: white !important;
}

.nav-item .active{
    background-color: rgba(105, 186, 39, 1);
    border-radius: 5px;
}

.nav-link:hover{
    font-weight: bold;
    color: white;
}

.cust-hover:hover{
    font-weight: normal;
    text-decoration: underline;
}

.modal .modal-dialog .modal-content .modal-header{
    border-bottom: none;
}

.jumbotron {
    padding: 2rem 1rem;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 85%;
}


.tittle-box{
    background-color: #171717;
    padding: 70px;
    position: absolute;
    margin: 0;
    top: 85%;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

.card-img{
    align-items: center;
}

.carousel-item .img-fluid{
    max-width: 70%;
}

#content{
    background-color: #000000;
}

/* 
#tab-category1:focus,#tab-category2:focus,#tab-category3:focus{
    box-shadow: none;
}

#tab-category1:hover,#tab-category2:hover,#tab-category3:hover{
    text-decoration: underline;
} */

#content a{
    text-decoration: none;
}

#content #more:hover{
    text-decoration: underline;
}


#content .list-group:hover{
    text-decoration: none;
}


.text-success{
    color: rgba(105, 186, 39, 1) !important;
}

.bg-success {
    background-color: rgba(105, 186, 39, 1) !important;
}



.footer-break{
    display: none;
}

@media (max-width: 767px) {
    .footer-break{
      display: block;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}